@media screen and (min-width: 980px) {

    .container {
        margin: 0;
        text-align: center;
        position: relative;
        display: inline;
        text-align: center;
    }

    .beach img {
        width: 100%;
        height: auto;
        mask-image: linear-gradient(rgb(102, 168, 165) 85%,
                transparent);
        pointer-events: none;
    }

    .beach-section {
        margin-top: 18px;
        padding: 0;
        border-radius: 0;
    }

    .box-title {
        padding: 12px 22px;
        background-color: var(--lightgrass);
        text-align: left;
        color: var(--clear-white);
        font-size: 1.5rem;
        margin-top: 8px;
        margin-right: 48px;
    }

    table {
        font-size: 1rem;
        padding-top: 12px;
    }

    .data,
    .weather {
        position: absolute;
        padding: 0 0 18px 0;
        background-color: rgba(177, 217, 219, 0.85);
    }

    .data {
        top: 6%;
        left: 3%;
        width: auto;
        height: auto;
    }

    .weather {
        bottom: 6%;
        right: 3%;
        width: auto;
        height: auto;
    }

    .weather-icon {
        display: inline;
    }

    .weather-icon::after {
        content: "";
    }

    .weather img {
        display: none;
    }


}