:root {

    /* Values below, your colors from your palette */
    --primary-color: #2b4b6d;
    --secondary-color: #425e92;
    --accent1-color: #415A77;
    --accent2-color: #a2cfe0;
    --accent3-color: #bee8ee;

    /* Values below to your chosen font(s) */
    --Gothic-regular: "Gothic", sans-serif;
    --Gothic-regular-weight: 390;
    --Gothic-thin: "Gothic", sans-serif;
    --Gothic-thin-weight: 95;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: var(--primary-color);
    /* headlines on a white background */
    --headline-color-on-color: var(--accent3-color);
    /* headlines on a colored background */
    --paragraph-color-on-white: var(--primary-color);
    /* paragraph text on a white background */
    --paragraph-color-on-color: var(--accent3-color);
    /* paragraph text on a colored background */
    --paragraph-background-color: var(--secondary-color);
    --nav-link-color: var(--accent3-color);
    --nav-background-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--primary-color);
}


/* general */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--Gothic-regular);
    font-weight: var(--Gothic-weight);
}


/* mobile **************************/
h1,
h2 {
    font-family: var(--heading-font);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--nav-background-color);
    padding: 10px;
    color: var(--headline-color-on-color);
}


header h1 {
    margin: auto 5px;
}

#menu {
    font-size: 2rem;
    border: 0;
    background-color: var(--nav-background-color);
    color: var(--accent1-color);
    position: absolute;
    top: 1.2rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "❎";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    color: var(--nav-link-color);
    width: 100%;
}

.navigation a:hover {
    color: var(--accent3-color);
    text-decoration: underline 2px solid var(--accent3-color);
    transition: all 5ms ease-in-out;

}


.open a {
    display: block;
    font-size: 1.5rem;
}

.hidden {
    display: none;
}

/* main */

main {
    margin: 1rem auto;
    max-width: 730px;
}

.home {

    border-bottom: 1px solid #75b1c4;
    margin-bottom: 1rem;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
    margin: 5px 20px;
}

figure {
    background-color: #fff;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: smaller;
    text-align: center;
}


/* Footer */

footer {
    background-color: var(--nav-background-color);
    color: var(--headline-color-on-color);
    text-align: center;
    padding: 1rem;
}